$backgroundColor1: green;
$backgroundColor2: red;
$backgroundColor3: purple;
$paddingSection: 20px 0 20px 0;
$linehigh: 10px;
$type: monster;
$colors: ( success: gray, error: #334, info: #666777 );
$fontsize: 10px;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet2: "(max-width: 768px)";
