/* colors */
$primary-color: #ffffff;
$secondary-color: #eb5a5f;
$primary-bg-color: rgba(235, 90, 95, 0.275);
$secondary-bg-color: rgba(235, 90, 95, 0.1);

/* Fonts */
@font-face {
    font-family: mont;
    src: url('../fonts/Montserrat-Regular.otf');
}
